<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408741898278-hlsl1pdbvehkkkiaolrunot9mfhihbp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408741898278-hlsl1pdbvehkkkiaolrunot9mfhihbp2</string>
	<key>API_KEY</key>
	<string>AIzaSyBygzEU18BVg8aNSHnS3_Gn8cLarz7xD5c</string>
	<key>GCM_SENDER_ID</key>
	<string>408741898278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.polsl.FitManager</string>
	<key>PROJECT_ID</key>
	<string>fitmanager-database</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmanager-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408741898278:ios:9be72396975909fc751ee7</string>
</dict>
</plist>